$background-color: #FFF7E9;
$pink: #FF007A;
$blue: #00C2FF;
$yellow: #FFB800;
$black: #2B2B2B;

body{
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  background-color: $background-color;
  color: $black;

  a:visited, a:link, a:hover{
    color: $black;
    font-weight: 600;
    text-decoration: none;
  }

  a:hover{
    color: $pink;
  }

  a:active{
    color: $blue;
  }
}

header{
  display: flex;
  position: absolute;
  top: 0;
  padding: 16px;
  width: 100vw;
  justify-content: space-between;
  box-sizing: border-box;

  .creator-info{
    h1{
      font-size: 16px;
      font-weight: 400;
    }
  }
}